# YNAB API
YNAB_TOKEN=your-ynab-api-token
BOB_BUDGET_ACCOUNT=account-id-in-usd-budget
ARS_BUDGET_ACCOUNT=account-id-in-usd-budget

# Baneco pipeline
BANECO_ACCOUNT=your-account-number
BANECO_USERNAME=your-username
BANECO_PASSWORD=your-password
BANECO_YNAB_BUDGET=BOB Budget
BANECO_YNAB_ACCOUNT=account-id-in-bob-budget

# BISA pipeline
BISA_ACCOUNT=your-account-number
BISA_USERNAME=your-username
BISA_PASSWORD=your-password
BISA_YNAB_BUDGET=BOB Budget
BISA_YNAB_ACCOUNT=account-id-in-bob-budget

# Binance pipeline
BINANCE_YNAB_BUDGET=USD Budget
BINANCE_YNAB_ACCOUNT=account-id
BINANCE_TRANSFER_PAYEE=transfer-payee-id
